.navApp {
  background-color: rgb(58, 80, 128);
  color: white;
  font-size: 20px;
  padding: 20px;
  border-bottom: 7px rgb(100, 116, 145) ;
}

#name {
  font-size: 25px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(184, 174, 174);
}



.card-header {
  border-top: 5px solid rgb(39, 171, 247);
  border-left: 5px solid rgb(39, 171, 247);
  border-right: 5px solid rgb(39, 171, 247);
}

.card-body {
  border-left: 5px solid rgb(39, 171, 247);
  border-bottom: 5px solid rgb(39, 171, 247);
  border-right: 5px solid rgb(39, 171, 247);
}

.aboutApp, .portfolioApp, .contactApp, html {
  background-color: rgb(184, 174, 174);
}
